{% extends "layout.html" %}

{% block main %}
<style>
    table, th, td {
        border:1px solid black;
    }
</style>
<p text-align=center>My keys</p>
<table style="width:100%">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Key</th>
    </tr>
    <tr>
        {% for row in reference_list %}
        <td text-align=center>{{ row.id }}</td>
        <td text-align=center>{{ row.name }}</td>
        <td text-align=center>{{ row.key }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
